@page
@model ClinicaVeterinaria.App.Frontend.AboutModel
@{
}
<h1 style="color: green"> SOBRE NOSOTROS</h1>
<p align= 'center'> Somos una clinica veterinaria creada por el equipo-c del grupo 3 sean bienvenidos.</p>
