@page
@model ClinicaVeterinaria.App.Frontend.Pages.PetSuccessModel
@{
}
<h3 style="color:green">¡Mascota registrada exitosamente!</h3>
    <form class="form-inline" asp-area="" asp-page="/Home/Bienvenida">
            <button class="btn btn-outline-success my-2 my-sm-0 "> INICIO </button>
    </form>