@page
@model IndexModel

@{
    ViewData["Title"] = "Home page";
}
 <!-- img src="Imágenes/ensayo fondo.png" alt="Sample Photo" /-->


<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <title>Vet Home</title>
    <link rel="icon" type="image/jpg" href="Imagenes/Logo VetHome_Mesa de trabajo 1.jpg">
    <link rel="stylesheet" href="VetHomeStyles.css">
    <script src="funcionalidades.js" defer></script>
</head>
<body>

    <!--  Barra Horizontal  -->

    <header>
    <nav class="menu">
        <div class="menutotal">
            <a href="#Home"><div><img src="Imagenes/WebPage_Mesa de trabajo 1 copia 5.png" class="logoprofile"></div></a>
            <div class="subpages">
                <a href="#Home">
                    <div class="subpaginas">HOME</div>
                </a>
                <a href="">
                <div class="subpaginas">ABOUT US</div>
                </a>
                <div class="subpaginas">SERVICES</div>
                <div class="subpaginas">CONTACT</div>
                <div class="subpaginas">SIGN UP</div>
                <div class="hamburguer-menu">
                    <i class="bx bx-menu"></i>
                </div>
            </div>
        </div>
    </nav>
    </header>
    
    <!--  Pagina Inicio  -->

    <section id="Home" class="seccion1">
            <div>
                 <img src="Imagenes/Letras-02.png" class="tipografia">
                 <p>Tecnología de punta, experiencia,
                     técnicas vanguardistas y constante 
                     capacitación para prestar el
                     mejor servicio
                 </p>
                 <div class="buttons">
                 <button>Log In</button>
                 <button>Sign Up</button>
                </div>
                <div class="circle">
                    <i class='bx bxs-circle bx-rotate-90' style='color:#ff974b' ></i>
                    <i class='bx bxs-circle bx-rotate-90' style='color:#ff974b' ></i>
                    <i class='bx bxs-circle bx-rotate-90' style='color:#ff974b' ></i>
                    <i class='bx bxs-circle bx-rotate-90' style='color:#ff974b' ></i>
                    <i class='bx bxs-circle bx-rotate-90' style='color:#ff974b' ></i>
                </div>
            </div>
        <div class="imagen">
            <img src="Imagenes/Imagen Principal_Mesa de trabajo 1 copia.png" class="imagen-inicio">
        </div>
        
    </section>


</body>
</html>










 <!-- <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div> -->
