@page
@model IndexModel

@{
    ViewData["Title"] = "Home page Vethouse";
}
 <div class="text-center">
    <h1 class="text-garamond" class="display-22">Bienvenido a Clinica Veterinaria </h1>
    <p class="text-success">Esta aplicación ha sido creada por los beneficiarios del programa de MisiónTic-Universidad caldas, un saludo para todos</p>
    <!-- <img src="image1ensayo.png" alt="Girl in a jacket" width="500" height="600"> width="900px" height="200px" -->
   <img class="img-responsive img-rounded" align="left" width="500px" src="~/imagenes/Letras-02.png" alt="imagen principal"> <img class="img-responsive img-rounded" align="right"  width="570px" src="~/imagenes/image1ensayo.png" alt="imagen principal"> 
   <p style="background-color:red;"></p> 
    @if(User.Identity.IsAuthenticated){
        <h3>Bienvenido @User.Identity.Name</h3>
        <span>Sus roles son:</span>
        @if(User.IsInRole("Medico")){
            <h4>Usted es un médico</h4>
        }
        @if(User.IsInRole("Enfermera"))
        {
            <h4>Usted es una enfermera</h4>
        }

    }
</div>
